.linku2 {
color: #000000;
background: #FFFFFF9C;
margin: 10px 200px 10px 200px;
padding: 5px 30px 5px 30px;
border-radius: 5px;
border: olivedrab 6px double;
text-align: center;
display: block;
}
a.linku2:hover {
color: white;
background: #000000;
border: darkslategray 8px double;
padding: 12px 30px 12px 30px;
font-weight: bold;
}
