* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  height: 100px;
  background: cadetblue;
  justify-content: center;
  align-items: center
}

.logo {
  flex: 20%;
  border: 1px solid red;
  text-align: center;
}

.menu {
  flex: 80%;
  border: 1px solid green;
  text-align: right;
}
